{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>HRM Registration Portal</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'hrms/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %} ">
  
  
  <link rel="stylesheet" href="{% static 'hrms/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'hrms/images/favicon.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="text-center mb-2">
              <img src=" {% static 'hrms/images/logo.png' %} " alt="">
            </div>
            <h2 class="text-center mb-4 text-secondary">Administrator Registration</h2>
            <div class="auto-form-wrapper">
              <form method ='POST' enctype='multipart/form-data'>
                {% csrf_token %}
                {{form.errors}}
                <div class="form-group">
                  <div class="input-group">
                      {{form.username}}
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                      {{form.email}}
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>

              <div class="form-group">
                  <div class="input-group">
                      {{form.password1}}
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                      {{form.password2}}
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>


                 <div class="form-group">
                  <div class="input-group">
                      {{form.thumb}}
                  </div>
                </div>
                
                <div class="form-group">
                  <button class="btn btn-success submit-btn btn-block">Register</button>
                </div>
                <div class="text-block text-center my-3">
                  <span class="text-small font-weight-semibold">Already have and account ?</span>
                  <a href="{%  url 'hrms:login'  %}" class="text-black text-small">Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
</body>

</html>