{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="{% static 'hrms/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %} ">
  <link rel="stylesheet" href="{% static 'hrms/vendors/iconfonts/font-awesome/css/font-awesome.css' %} ">
  <link rel="stylesheet" href=" {% static 'hrms/css/style.css'%} ">
  <link rel="stylesheet" href="{% static 'hrms/css/toastr.min.css' %}">
  <link rel="shortcut icon" href="{% static 'hrms/images/favicon.png' %}" />
  <title>Recruitment Page</title>
</head>
<body>
  <section class="container">
    <div class="row mt-5">
      <div class="col-lg-8 offset-lg-2">
      <div class="text-center mb-2">
        <img src=" {% static 'hrms/images/logo.png' %} " alt="">
      </div>
        <p class="lead text-center">Candidate Application Form</p><hr>
        <div class="card">
          <div class="card-body">
            <form action="" method="POST" class="form-group">
            {% csrf_token %}
              {{form.as_p}}
              <div>
                <button class="btn btn-block btn-success">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>  
    </div>
  </section>
</body>
</html>