<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
                <div class="profile-image">
                  <img src="{{request.session.auth_user_thumb}}">
                </div>
                <div class="text-wrapper">
                  <p class="profile-name">{{request.session.auth_user | capfirst}} </p>
                  <div>
                    <small class="designation text-muted">Administrator</small>
                    <span class="status-indicator online"></span>
                  </div>
                </div>
              </div>
              <a href="{% url 'hrms:employee_new' %}" class="btn btn-success btn-block">New Staff
                <i class="mdi mdi-plus"></i>
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hrms:dashboard' %}">
              <i class="fa  fa-dashboard"></i>
              <span class="menu-title">&emsp;Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hrms:employee_all' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="fa fa-list text-dark"></i>
              <span class="menu-title">&emsp;Employee</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hrms:attendance_new' %}">
              <i class="fa fa-calendar"></i>
              <span class="menu-title">&emsp;Attendance</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hrms:leave_new' %}">
              <i class="fa fa-sign-out "></i>
              <span class="menu-title">&emsp;Leave</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="fa fa-folder "></i>
              <span class="menu-title">&emsp;Department</span>
              <i class="menu-arrow"></i>
            </a>
              <a class="nav-link" href="{% url 'hrms:dept_new' %}"><i class="fa fa-plus"></i>&emsp;New Department</a>
              
            <hr>

            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
              {% for dept in depts  %}
                <li class="nav-item">
                  <a class="nav-link" href="{{dept.get_absolute_url}}">{{dept.name}}</a>
                </li>
              {% endfor %}
              </ul>
            </div>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="{% url 'hrms:recruitmentall' %}">
              <i class="fa fa-database"></i>
              <span class="menu-title">&emsp;Recruitment</span>
            </a>
          </li>

          {% comment %} <li class="nav-item">
            <a class="nav-link" href="pages/tables/basic-table.html">
              <i class="fa fa-usd"></i>
              <span class="menu-title">&emsp;Payroll</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/icons/font-awesome.html">
              <i class="fa  fa-gears"></i>
              <span class="menu-title">&emsp;Settings</span>
            </a>
          </li> {% endcomment %}
        </ul>
      </nav>